<section style="padding: 2rem;" fxLayout="column">
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="stocks" matSort>
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Identifier </th>
              <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
          </ng-container>
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Name </th>
              <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Random Price </th>
              <td mat-cell *matCellDef="let row"> {{ row.price }} </td>
          </ng-container>
          <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Controls </th>
            <td mat-cell *matCellDef="let row"> 
                <button [routerLink]="['/orders']" [queryParams]="{ stockID: row.id }" mat-flat-button color="primary">Orders</button>    
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>
</section>
